<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestao_biblioteca</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">senha_aqui</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Hibernate settings -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- or create, validate, none -->
        <property name="hibernate.show_sql">true</property>

        <!-- Mapped Entity -->
        <mapping class="entities.Book"/>
        <mapping class="entities.User"/>
        <mapping class="entities.Loan"/>
        <mapping class="entities.Saga"/>
        <mapping class="entities.Reservation"/>
    </session-factory>
</hibernate-configuration>